name: main

on:
  schedule:
    - cron: '0 * * * *'
  push:

jobs:
  run-script:
    name: job0
    runs-on: ubuntu-latest
    env: 
      GITLAB_TOKEN: ${{ secrets.GITLAB }}
      BOX_TOKEN: ${{ secrets.BOX_TOKEN }}
    steps:
    - uses: actions/checkout@v4
    - run: sudo apt update
    - run: sudo apt install -y python3-requests
    
    - run: bash -x main.sh
